{% extends 'app/base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center">Reset Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-4 rounded">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}  
                        {{ field }}  
                        {% if field.errors %}
                            <small class="text-danger d-block">{{ field.errors|striptags }}</small>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-success w-100 mt-3">Submit</button>

                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3">
                        {% for error in form.non_field_errors %}
                            <p class="mb-0">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
